{%macro nav(userId,state)-%}
  <div class="well span12">
    <ul class="nav nav-list">
      <li class="nav-header">帐号管理</li>
      {% if not userId%}
      <li >
<!--         <div class="row">
          <div class="span2"></div>
 -->          
            <a href="https://api.weibo.com/oauth2/authorize?client_id=2659976459&response_type=code&redirect_uri=http://gausszh.sinaapp.com/base/weibo/login/"><i class="icon-user"></i>新浪微博登录</a>
        <!-- </div> -->
      </li>
      {% else %} 
      <li id="nav-user-btn"><a href="/userinfo/"><i class="icon-user"></i>{{ userId }}</a></li>
      <li id="nav-logout-btn"><a href="/base/logout/"><i class="icon-off"></i>注销</a></li>
      <li class="nav-header">快速导航</li>
      <li id="nav-list-btn"><a href="/blog/edit/"><i class="icon-list-alt"></i>编辑文章</a></li>
      {% endif %}
      <li id="nav-edit-btn"><a href="/blog/list/"><i class="icon-file"></i>文章列表</a></li>

    </ul>
  </div>
{%- endmacro %}