{% from 'blog/blog_macro.html' import nav %} 
<html>
<head>
    <link href="/static/css/bootstrap.min.css" media="screen" type="text/css" rel="stylesheet">
    <link href="/static/css/blog/code_hilite.css" media="screen" type="text/css" rel="stylesheet">

    <title>小博客</title>
</head>
<style type="text/css">
.toc {
    float: right;
    position: absolute;
    right: 0px;
}

</style>
<body>

    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span2">
            {{ nav(g.user.name, 1) }}
              

            </div>
            <div  class="span1"></div>
            <div class="span7" >
                {% if blog %}
                    {{blog.markdown|md2html| safe}}
                {% endif %}
            </div>
            <div  class="span2">
                
            </div>
            
       </div>
    </div>
</body>